# Platform.io
venv
arduino/teleinfo/.piolibdeps
arduino/teleinfo/.pioenvs
arduino/dht/.piolibdeps
arduino/dht/.pioenvs
arduino/photocell/.piolibdeps
arduino/photocell/.pioenvs
config.h


# Kubernetes
kubectl
minikube

# HypriotOS
flash