# Platform.io
venv
arduino/teleinfo/.piolibdeps
arduino/teleinfo/.pioenvs
arduino/temperature/.piolibdeps
arduino/temperature/.pioenvs
arduino/photocell/.piolibdeps
arduino/photocell/.pioenvs/
arduino/airquality/.pioenvs
arduino/airquality/.piolibdeps
config.h


# Kubernetes
kubectl
minikube

# HypriotOS
flash
