# Copyright (C) 2017-2018 Nicolas Lamirault <nicolas.lamirault@gmail.com>

# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

#
# Jarvis Cloud - OpenStack Platform setup
#

openstack_access_key = "xxxxxxxxxxxxxx"
openstack_secret_key = "xxxxxxxxxxxxx"
openstack_tenant_name = "xxxxxxxxxxxxx"

openstack_keystone_uri = "https://xxxxxxxxx"
openstack_region = "xxxxxxx"
openstack_key_name = "xxxxxxxx"
openstack_public_key = "/home/johndoe/.ssh/id_rsa.pub"
openstack_ssh_private_key_file = "/home/johndoe/.ssh/id_rsa"

openstack_floating_ip_pool_name = "public"
openstack_subnet_cidr_bloc = "192.169.1.0/24"

openstack_instance_type_master = "s1.cw.small-1"
openstack_instance_type_node = "s1.cw.small-1"
openstack_image_id = "xxxxxxxxxxxxxxxxxxx"

cluster_name = "jarvis-cloud"
nb_nodes = "2"

# Generate the token for Kubeadm
# python2 -c 'import random; print "%0x.%0x" % (random.SystemRandom().getrandbits(3*8), random.SystemRandom().getrandbits(8*8))'
kubeadm_token = ""