doctype html
html
  include head
  body
    header
      include menu
    .row
      .col.s12.m8.offset-m2.offset-13
        .card-panel.grey.lighten-5.z-depth-4
          .row.valign-wrapper
            .col.s3
              img(src='images/jarvis.png',width='150', height='10').responsive-img
            .col.s10
              .black-text Jarvis is an Open Source Domotic system.
              .black-text Components used :
              .ul
                .li Raspberry PI
                .li Arduino
                .li Mosquitto
                .li NodeJS
        .card-action
          a(href='https://github.com/zeiot/jarvis') Project homepage

  include foot
