doctype html
html
  include head
  body
    header
      include menu
    .container
      .row
        .col.s12.m8.offset-m2.offset-13
          .card-panel.grey.lighten-5.z-depth-4
            .row.valign-wrapper
              .col.s3
                img(src='images/jarvis.png',width='150', height='10').responsive-img
              .col.s10
                .black-text Jarvis is an Open Source Domotic system.
                .black-text Components used :
                .row
                  .col.s12.m9
                    i.material-icons.dp48 airplay
                    span Raspberry PI
                  .col.s12.m9
                    i.material-icons.dp48 settings_input_component
                    span Arduino
                  .col.s12.m9
                    i.material-icons.dp48 open_with
                    span Mosquitto
                  .col.s12.m9
                    i.material-icons.dp48 dashboard
                    span NodeJS
          .card-action
            a(href='https://github.com/zeiot/jarvis') Project homepage

  include foot
