script(src="/javascripts/jquery-2.1.1.min.js")
script(src="/javascripts/materialize.min.js")

//- footer.page-footer
//-   .footer-copyright
//-     .container
//-       span (C) 2016 Nicolas Lamirault
