head
    title= title
    meta(charset="utf-8")
    meta(name="viewport",content="width=device-width, initial-scale=1.0")
    meta(name="description",content="Jarvis - Open source domotic")
    meta(name="author",content="")
    link(rel='stylesheet', href='/stylesheets/materialize.min.css')
