doctype html
html
  include head
  body
    header
      include menu
    .container
      .row
        .col.s4
          .card-panel.grey.lighten-5.z-depth-4
            .row.valign-wrapper
              .col.s3
                img(src='images/Raspberry_Pi.png',width='150', height='10').responsive-img
              .col.s10
                .green-text Raspberry PI
                .black-text 10.9.8.65
        .col.s4
          .card-panel.grey.lighten-5.z-depth-4
            .row.valign-wrapper
              .col.s3
                img(src='images/arduino.png',width='150', height='10').responsive-img
              .col.s10
                .green-text Arduino
         .col.s4
          .card-panel.grey.lighten-5.z-depth-4
            .row.valign-wrapper
              .col.s3
                img(src='images/mosquitto.png',width='150', height='10').responsive-img
              .col.s10
                .green-text Mosquitto
      .row
        .col.s4
          .card-panel.grey.lighten-5.z-depth-4
            .row.valign-wrapper
              .col.s3
                img(src='images/Raspberry_Pi.svg',width='150', height='10').responsive-img
              .col.s10
                .green-text Raspberry PI
        .col.s4
          .card-panel.grey.lighten-5.z-depth-4
            .row.valign-wrapper
              .col.s3
                img(src='images/Raspberry_Pi.svg',width='150', height='10').responsive-img
              .col.s10
                .green-text Arduino
         .col.s4
          .card-panel.grey.lighten-5.z-depth-4
            .row.valign-wrapper
              .col.s3
                img(src='images/Raspberry_Pi.svg',width='150', height='10').responsive-img
              .col.s10
                .green-text Mosquitto

  include foot
