# Copyright (C) 2017-2018 Nicolas Lamirault <nicolas.lamirault@gmail.com>

# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

#
# Jarvis Cloud - Google Cloud Platform setup
#

gce_project="xxxxxxxxxxxxx"
gce_credentials="/home/johndoe/.config/gcloud/xxxxxxxxxxx.json"
gce_ssh_user="johndoe"
gce_ssh_public_key = "/home/johndoe/.ssh/id_rsa.pub"
gce_ssh_private_key_file="/home/johndoe/.ssh/id_rsa"
gce_region = "europe-west1"
gce_zone = "europe-west1-b"
gce_image = "ubuntu-1604-xenial-v20171212"
# gce_machine_type_master = "n1-standard-1"
# gce_machine_type_node = "n1-standard-1"

cluster_name = "jarvis-cloud"
nb_nodes = "2"

# Generate the token for Kubeadm
# python2 -c 'import random; print "%0x.%0x" % (random.SystemRandom().getrandbits(3*8), random.SystemRandom().getrandbits(8*8))'
kubeadm_token = ""